
<div class="panel panel-default">
  <div class="panel-body">
  	<p id="notice"><%= notice %></p>
  	<tr>
  		<td><%= link_to "Go to the Shop", products_path, class: "btn btn-default" %></td>
		<td style="float: right;"><%= link_to "Post a Print", new_print_path, class: "btn btn-warning" %></td>
	</tr>

	<br/>


	<div style="text-align:center;">
	  <h1 class="pacifico_purple_70" style="text-align:center;">Review</h1>
	  <br/>
	  <table style="float: left; width: 60%; overflow:hidden;">
	  	<tr>
			<td><div class="arizonia_black_60" style="text-align:center;"> Recent</div></td>
		</tr>
		<tr><td>&nbsp;</td></tr>
	  	<tr>
	  	  <td>
		    <ul id="menu">
		      <li class="sub">
		        <% @prints.sort_by(&:created_at).reverse.first(4).each do |print| %>
		          <div class="col-sm-6 col-md-3">
		            
		            <%= link_to (image_tag print.image.url(:medium)), print_path(print) %>

		          </div>
		        <% end %>
		      </li>
		    </ul>
		  </td>
		</tr>
		<tr>
			<td><div class="arizonia_black_50" style="text-align:center;"> All</div></td>
		</tr>
		<tr><td>&nbsp;</td></tr>
		<tr>


		  <td>

		    <ul id="menu">
		      <li class="sub">
		        <% @prints.each do |print| %>
		          <div class="col-sm-6 col-md-3">
		            
		              <%= link_to (image_tag print.image.url(:small)), print_path(print) %>
		            </div>
		            
		          </div>
		        <% end %>
		      </li>
		    </ul>
		  </td>
		</tr>
	  </table>
	  <div style="background-color: white; width: 3%; float:left;">&nbsp;</div>
	  <div style="float: left; width: 35%; padding: 10px; background-color: black; color: white;" >
	  	<h1 style="font-size: 40px;">Why restrain art to frames?</h1>
	  	<p class="typeface">Art should be as free as the mind of their creators. Everything that comes in contact with the mind should be rendered into art. Cloths and shoes included. We worry too much about the designer cloth, never going further into what makes cloths truly enjoyable to wear; the aethetics, the feeling that it elicits upon the onlooker.Why restrain art to frames?
	  	Art should be as free as the mind of their creators. Everything that comes in contact with the mind should be rendered into art. Cloths and shoes included. We worry too much about the designer cloth, never going further into what makes cloths truly enjoyable to wear; the aethetics, the feeling that it elicits upon the onlooker.Why restrain art to frames?
	  	Art should be as free as the mind of their creators. Everything that comes in contact with the mind should be rendered into art. Cloths and shoes included. We worry too much about the designer cloth, never going further into what makes cloths truly enjoyable to wear; the aethetics, the feeling that it elicits upon the onlooker.

	  	<br/>

	  	<h1 style="color: #8562a8; font-size: 40px;">Why restrain art to frames?</h1>
	  	<p class="typeface">Art should be as free as the mind of their creators. Everything that comes in contact with the mind should be rendered into art. Cloths and shoes included. We worry too much about the designer cloth, never going further into what makes cloths truly enjoyable to wear; the aethetics, the feeling that it elicits upon the onlooker.Why restrain art to frames?
	  	Art should be as free as the mind of their creators. Everything that comes in contact with the mind should be rendered into art. Cloths and shoes included. We worry too much about the designer cloth, never going further into what makes cloths truly enjoyable to wear; the aethetics, the feeling that it elicits upon the onlooker.Why restrain art to frames?
	  	Art should be as free as the mind of their creators. Everything that comes in contact with the mind should be rendered into art. Cloths and shoes included. We worry too much about the designer cloth, never going further into what makes cloths truly enjoyable to wear; the aethetics, the feeling that it elicits upon the onlooker.
	  </div>
	</div>
  </div>
</div>


