<p id="notice"><%= notice %></p>

<h1><%= link_to "Post a Print", new_print_path, class: "btn btn-danger" %></h1>

<%= link_to "Go to the Shop", products_path %>

<br/>

<% @prints.each do |print| %>

  
  <p><%= link_to (image_tag print.image.url(:medium)), print_path(print) %></p>
  <p><%= print.name %></p>

<% end %>


