<div class="panel panel-default" style="padding: 20px 20px 20px 20px;">
  <div class="panel-body" style='overflow:hidden; padding: 10px ;'>
    <table>
      <tr>
        <td>
          <%= link_to 'Back', prints_path, class: "btn btn-default" %>
          <% if current_user.admin? %>
            <%= link_to "Turn into Product", turn_into_product_print_path(@print), method: :put, class: "btn btn-success" %>
          <% end %>
          <% if current_user.admin? || current_user == @print.user %>
            <%= link_to "Edit Print", edit_print_path(@print), class: "btn btn-default" %>
            <%= link_to 'Erase It', @print, method: :delete, class: "btn btn-danger" %>
          <% end %>
        </td>
      </tr>
    </table>
    <br/>
    <div class="row" style="padding: 0px 0px 0px 30px;">
      <div>
        
        <p style="text-align: center;">
          <%= image_tag @print.image.url(:large) %>
        </p>
        <p class="pacifico_black_50" style="text-align: center;">
          <%= @print.name %>
        </p>
        <p class="arizonia_black_40" style="text-align: center;"><strong>&nbsp;&nbsp;&nbsp;&nbsp;</strong>
          <%= @print.description %></p>
        <table style="width: 100%;">
          <tr>
            <td>
              <div class="star-rating" data-score= <%= @print.average_review %> ></div>
              <div><%= "#{@reviews.length} reviews" %></div>
          
              <%= image_tag('pledge.png' , width: 70, height: 70) + "#{@print.pledges.length}"%>
            <td/>
            <td><%= link_to "Flag #{@print.flag_count}", flag_print_path(@print), method: :put, class: "btn btn-default"%></td>
          </tr>
        </table>
      </div>

      <br/>

      <%= link_to "Review", new_print_review_path(@print), class: "btn btn-default" %>
      <%= link_to "Pledge", new_print_pledge_path(@print), class: "btn btn-danger"%>
      <br/><br/>
 
      <div class="row" style="padding: 0px 0px 0px 10pxpx;">
      

        <% if @reviews.blank? %>
          <h3>No reviews just yet, would you like to add the first?</h3>
        <% else %>
          <table class="round" style="width: 90%; border-width: 5px;">
          <% @reviews.sort_by{|t| - t.created_at.to_i}.first(8).each do |review| %>
            <% @user = User.find(review.user_id)%>
            <tr class="panel panel-default" >
              <div class="panel" style=></div>
                <td style="width: 20%;">
                  <div class="review_avatar"><%= link_to (image_tag @user.avatar.url(:small)), @user %></div>
                </td>

                <td style="float: left; width: 80%; font-size: 20px; padding: 40px 0px 0px 20px;"><%= review.comment %></td>
              </div>
            
            </tr>
          </table>
          <table>
              

            <tr>
              <% if @print.users.include?(@user) %>
                <td>
                  <div class="reviews review_rating">
                  <div class="star-rating" data-score= <%= review.rating %> ></div>
                </td>
                <td><%= image_tag('pledge.png', width: 45, height: 45) %></td>
              <% end %>
            

              <% if current_user == @user %>
                <td style="float: left;"><%= link_to "Change it", edit_polymorphic_path([@print ,review]), class: "btn btn-info" %></td>                
                <td style="float: left"><%= link_to 'Erase it', [@print, review], method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" %></td>
                <td style="float:right"><%= link_to "Flag #{review.flag_count}", flag_print_review_path(@print, review), method: :put, class: "btn btn-default" %></td>
                
              <% end %>              
            </tr> 
          <% end %>
        <% end %>
        </table>
        <br/>
        <div style="text-align:center;">
          <%= link_to "All Reviews", print_reviews_path(@print), class: "btn btn-default"%>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $('.star-rating').raty({
    path: '/assets/',
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    }

  });

</script>

