<div class="panel panel-default">
  <div class="panel-body">
    <table>
      <tr>
        <td>
          <%= link_to 'Back', prints_path, class: "btn btn-default" %>
          <% if current_user.admin? %>
            <%= link_to "Turn into Product", turn_into_product_print_path(@print), method: :put, class: "btn btn-success" %>
          <% end %>
          <% if current_user.admin? || current_user == @print.user %>
            <%= link_to "Edit Print", edit_print_path(@print), class: "btn btn-default" %>
            <%= link_to 'Erase It', @print, method: :delete, class: "btn btn-danger" %>
          <% end %>
        </td>
      </tr>
    </table>
    <br/>
    <div class="row">
      <div>
        
        <p style="text-align: center;">
          <%= image_tag @print.image.url(:large) %>
        </p>
        <p style="text-align: center;">
          <strong><%= @print.name %></strong>
        </p>
        <p><strong>Description:</strong>
          <%= @print.description %></p>
        <table style="width: 100%;">
          <tr>
            <td>
              <div class="star-rating" data-score= <%= @print.average_review %> ></div>
              <div><%= "#{@reviews.length} reviews" %></div>
          
              <%= image_tag('heart_icon.jpg' , width: 30, height: 30) + "#{@print.pledges.length}"%>
            <td/>
            <td><%= link_to "Flag #{@print.flag_count}", flag_print_path(@print), method: :put, class: "btn btn-default"%></td>
          </tr>
        </table>
      </div>

      <br/>

      <%= link_to "Review", new_print_review_path(@print), class: "btn btn-default" %>
      <%= link_to "Pledge", new_print_pledge_path(@print), class: "btn btn-danger"%>
      <br/><br/>
 
      <div class="col-md-7 col-md-offset-1">

        <% if @reviews.blank? %>
          <h3>No reviews just yet, would you like to add the first?</h3>
        <% else %>
          <table style="width: 100%;">
          <% @reviews.sort_by{|t| - t.created_at.to_i}.first(8).each do |review| %>
            <% @user = User.find(review.user_id)%>
            <tr>
              <td>
                <div class="review_avatar"><%= link_to (image_tag @user.avatar.url(:thumb)), @user %></div>
              </td>
              <td style="color: grey;"><%= review.comment %></td>
            
            </tr>
              

            <tr>
              <% if @print.users.include?(@user) %>
                <td>
                  <div class="reviews review_rating">
                  <div class="star-rating" data-score= <%= review.rating %> ></div>
                </td>
                <td><%= image_tag('heart_icon.jpg', width: 45, height: 45) %></td>
              <% end %>
            

              <% if current_user == @user %>
                <td style="float: left;"><%= link_to "Change", edit_polymorphic_path([@print ,review]), class: "btn btn-info" %></td>                
                <td style="float: left"><%= link_to 'Erase It', [@print, review], method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" %></td>
                <td style="float:right"><%= link_to "Flag #{review.flag_count}", flag_print_review_path(@print, review), method: :put, class: "btn btn-default" %></td>
                
              <% end %>              
            </tr> 
          <% end %>
        <% end %>
        </table>
        <br/>
        <div style="text-align:center;">
          <%= link_to "All Reviews", print_reviews_path(@print), class: "btn btn-default"%>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $('.star-rating').raty({
    path: '/assets/',
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    }

  });

</script>

