<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div>
        <p style="text-align: center;">
          <%= image_tag @print.image.url(:large) %>
        </p>
        <p style="text-align: center;">
          <strong><%= @print.name %></strong>
        </p>
        <p><strong>Description:</strong>
          <%= @print.description %></p>
        <div class="star-rating" data-score= <%= @print.average_review %> ></div>
        <em><%= "#{@reviews.length} reviews" %></em>
        <p><%= image_tag('heart_icon.jpg' , width: 50, height: 50) + "\'s thus far: #{@reviews.where(pledge: true).length}" %><p/>
      </div>

      <br/>

      <%= link_to "Write a Review", new_print_review_path(@print), class: "btn btn-danger" %>
      <br/><br/>
 
      <div class="col-md-7 col-md-offset-1">

        <% if @reviews.blank? %>
          <h3>No reviews just yet, would you like to add the first?</h3>
        <% else %>
          <% @reviews.sort_by{|t| - t.created_at.to_i}.first(8).each do |review| %>
            <% @user = User.find(review.user_id)%>
            <div class="row">
              <div class="review_avatar"><%= link_to (image_tag @user.avatar.url(:thumb)), @user %></div>
              <div class="reviews review_rating">
                <div class="star-rating" data-score= <%= review.rating %> ></div>
                <p><%= review.comment %></p>
              </div>
              <% if review.pledge == true %>
                <%= image_tag('heart_icon.jpg', width: 100, height: 100) %>
              <% end %>
              <% if current_user == @user %>
                <div class="review_button"><%= link_to "Change", edit_polymorphic_path([@print ,review]), class: "btn btn-info" %></div>
                <div class="review_button"><%= link_to 'Erase It', [@print, review], method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" %></div>
              <% end %>
            </div>
          <% end %>
        <% end %>
        <div style="text-align:center;">
          <%= link_to "All Reviews", print_reviews_path(@print), class: "btn btn-default"%>
        </div>
      </div>
    </div>
  </div>
</div>

<div> <%=link_to "Make into a product", method: :create_product %></div>

<% if current_user.admin? || current_user == @print.user %>
  <%= link_to "Edit Print", edit_print_path(@print), class: "btn btn-default" %>
  <div class="review_button"><%= link_to 'Erase It', @print, method: :delete, class: "btn btn-default" %>
<% end %>

<script>
  $('.star-rating').raty({
    path: '/assets/',
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    }

  });

</script>

