<div class="panel panel-default">
  <div class="panel-body">
    <h1>Sign up <em style="float: right;"><%= render "devise/shared/links" %></em></h1>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <div class="form-field"><%= f.label :email %></div>
        <div style="width: 50%; float: right; padding: 5px"><%= f.email_field :email, autofocus: true %></div>
      </div>
      <br/>
      <br/>

      <div class="field">
        <div class="form-field"><%= f.label :password %><em> (8 chars min)</em>
          
        </div>
        <div style="width: 50%; float: right; padding: 5px"><%= f.password_field :password, autocomplete: "off" %></div>
      </div>
      <br/>
      <br/>
      

      <div class="field">
        <div class="form-field"><%= f.label :password_confirmation %></div>
        <div style="width: 50%; float: right; padding: 5px"><%= f.password_field :password_confirmation, autocomplete: "off" %></div>
      </div>
      <br/>
      <br/>
      <div class="field">
        <div class="form-field"><%= f.label :username %>
        </div>
        <div style="width: 50%; float: right; padding: 5px"><%= f.text_field :username %></div>
      </div>
      <br/>
      <br/>


      <div class="field">
        <div class="form-field"><%= f.label :biography %>
        </div>
        <div style="width: 50%; float: right; padding: 5px"><%= f.text_area :biography %></div>
      </div>
      <br/>
      <br/><br/>

      <div class="field">
        <div class="form-field"><%= f.label :avatar %></div>
        </div>
        <div style="width: 50%; float: right; padding: 5px"><%= f.file_field :avatar %></div>
      </div>
      <div class="actions">


        <div style="text-align: center;"><%= f.submit "Sign up", class: "btn btn-danger" %></div>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>

    
  </div>
</div>
