<table class="table table-hover" style="float: left;">
	<tr><strong>Best Rated Prints</strong></tr>
	<% @prints.sort_by(&:average_review).reverse.each do |print| %>	
	<tr>
		<td><%= link_to image_tag print.image.url(:thumb) %></td>
		<td><%= link_to print.name, print_path(print) %>
		<td><%= print.average_review %></td>
		<td><%= link_to print.user.username, user_path(print.user) %></td>
	<% end %>
	</tr>
</table>
<div><%= link_to "Back to Admin Main", admin_main_path, class: "btn btn-default" %></div>