<div class="panel panel-default">
  	<div class="panel-body">
  		<div>
			<h1 class="profile"><%= @user.username%></h2><br/>
			<div><%= image_tag @user.avatar.url(:medium) %></div><br/><br/>
			<h1 style="color: black;">&nbsp;&nbsp;Bio</h1><br/>
			<div class="typeface" style="font-size: 18px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=@user.biography%></div><br/><br/>
			<h1 style="text-align: center;">Under Review</h1>
			<ul class="slider5" id="menu">
      			<%@user.prints.each do |print|%>
        			<div class="sub">
          				<div class="thumbnail">
            				<%= link_to (image_tag print.image.url(:small), class: 'image'), print %>
            			</div>
            		</div>
            	<% end%>
            </ul>
            <h1 style="color: #ed1894; text-align: center;">Products</h1>
            <ul class="slider5" id="menu">
      			<%@user_products.each do |product|%>
        			<div class="sub">
          			<div class="thumbnail">
            			<%= link_to (image_tag product.image.url(:small), class: 'image'), product %>
            		</div>
            	</div>
            <% end%>

            </ul>
       		<h2></h2>
        </div>
	</div>
	<%= link_to "Edit Profile", edit_user_registration_path, class: "btn btn-danger" %>
	</div>
</div> 

<script>
  $('.slider5').bxSlider({
    minSlides: 3,
    maxSlides: 6,
    slideWidth: 200,
    infiniteLoop: true
  });
</script>

