<div class="panel panel-default">
  <div class="panel-body">
    <h1>Log in</h1>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <div class="form-field_2">&nbsp;&nbsp;<%= f.label :email %>&nbsp;:&nbsp;&nbsp;</div>
        <div style="width: 50%; float: left; padding: 5px" id="email"><%= f.email_field :email, autofocus: true, id: 'emailfield' %></div>
      </div>
      <br/>
      <br/>

      <div class="field">
        <div class='form-field_2'>&nbsp;&nbsp;<%= f.label :password %>&nbsp;:&nbsp;&nbsp;</div>
        <div style="width: 50%; float: left; padding: 5px" id="password"><%= f.password_field :password, autocomplete: "off", id: 'passwordfield' %></div>
      </div>
      <br/>
      <br/>


      <% if devise_mapping.rememberable? -%>
        <div class="field">
          <%= f.check_box :remember_me %>  
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <br/>


      <div class="actions">
        <div id="signin" style="text-align: center;"><%= f.submit "Log in", class: "btn btn-danger", id: 'submit' %></div>
      </div>
    <% end %>
    <br/>


    <%= render "devise/shared/links" %>
  </div>
</div>



