<p id="notice"><%= notice %></p>

<h1>Listing Products</h1>
<% if current_user.admin? %>
	<%= link_to 'Add New Product', new_product_path %>
<% end %>

<table>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= link_to (image_tag product.image.url(:medium)), product_path(product) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br/>
<%= link_to 'Under Review', new_product_path %>