<div class="panel panel-default">
    <div style="background-color: black;" class="panel-body">

		<p id="notice"><%= notice %></p>

		<h1 class="pacifico_white">Shop</h1>
		<% if current_user.admin? %>
			<%= link_to 'Add New Product', new_product_path %>
		<% end %>
		<div style="text-align:center;"
		  	<ul id="menu">
		    	<li id="left" class="sub">
		    		<h1 class="form_title">New Release</h1>
		    		<% @products.each do |product| %>
		    			<div>		      		
				        	<%= link_to (image_tag product.image.url(:medium)), product_path(product) %>
				        	<div class="pacifico_white_scroller"><%= product.name %></div><br/>
					    </div>			        
			        <% end %>
			    </li>
	      	</ul>
		</div>
		<div style="text-align:center;"
		  	<ul id="menu">
		    	<li id="right" class="sub">
		    		<h1 class="form_title">New Release</h1>		
		    		<% @products.sort_byeach do |product| %>
		    			<div>		      		
				        	<%= link_to (image_tag product.image.url(:medium)), product_path(product) %>
				        	<div class="pacifico_white_scroller"><%= product.name %></div><br/>
					    </div>			        
			        <% end %>
			    </li>
	      	</ul>
		</div>
		<br/>
	</div>
</div>