<div class="panel panel-default">
  <div class="panel-body" style="overflow:hidden;"> 
    <p id="notice"><%= notice %></p>
    <%= link_to 'Back', products_path, class: "btn btn-default" %>
    <% if current_user.admin? %>
      <%= link_to 'Edit', edit_product_path(@product), class: "btn btn-success"%>
      <%= link_to 'Erase It', @product, method: :delete, class: "btn btn-danger", id: "eraseproductpath" %>
    <% end %>

    <br/>

    <div class="product_image" style="text-align: center;"><%= image_tag @product.image.url(:large) %></div>
    <div style="text-align:center;">by&nbsp;<span class="red_arizonia_40"><%= @product.creator %></span></div>

    
    <br/><br/>
    <class class="well" style="background-color: black; color: white;"><%= @product.description %></class>
    <br/><br/><br/>

    <% @product.subproducts.each do |subproduct| %>
      <%= render "subproduct_row", subproduct: subproduct, order_item: @order_item %>
    <% end %>

    <% if current_user.admin? %>
      <%= render "subproducts/form"%>
      <%= link_to 'Edit Subproduct', edit_polymorphic_path([@product, @subproduct]), class: "btn btn-success" %>
    <% end %>
  </div>
</div>
