<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>
<p>
	<%= image_tag @product.image.url(:large) %>
</p>
<p>
  <strong>Designer:</strong>
  <%= @product.creator %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<% @product.subproducts.each do |subproduct| %>
  <%= render "subproduct_row", subproduct: subproduct, order_item: @order_item %>
<% end %>

<% if current_user.admin? %>
  <%= render "subproducts/form"%>
  <%= link_to 'Edit', edit_product_path(@product) %>
<% end %>

<%= link_to 'Back to Shop', products_path %>
