<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>
<p>
	<%= image_tag @product.image.url(:medium) %>
</p>
<p>
  <strong>Artist:</strong>
  <%= @product.creator %>
</p>


<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<ul>
  <% @product.subproducts.each do |sprod| %>
  	<li>Size<%= sprod.size %></li>
  	<li>Quantity<%= sprod.quantity %></li>
  	<li><strong>Price<%= sprod.price %></strong></li>
  	<br/>
  <% end %>
</ul>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
