<!DOCTYPE html>
<html>
<head>
  <title>FunnelArt</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "application", 'https://fonts.googleapis.com/css?family=Pacifico', :media => "all" %>
  <%= stylesheet_link_tag "application", "https://fonts.googleapis.com/css?family=Arizonia", :media => "all" %>





  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <% if request.ssl? %>
    <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css' %>
    <%= javascript_include_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js' %>
  <% else %> 
    <%= stylesheet_link_tag 'http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css' %>
    <%= javascript_include_tag 'http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js' %>
  <% end %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  
  <%= csrf_meta_tags %>
</head>

<body>
  <%= render 'layouts/header' %>
	<div class="container" style="width:80%; float: left;">
		<%= yield %>
		<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </div>
  <div class="panel panel-default" style="width:14%; float:left;">
    <div><%= link_to " ", prints_path, class: "review_btn" %><%= link_to ' ', products_path, class: "shop_btn" %></div>
  </div>


</body>
</html>
