<!DOCTYPE html>
<html>
<head>
  <title>FunnelArt</title>

  <%= favicon_link_tag 'favicon.ico' %>
  <%= javascript_include_tag "application" %>
  
  <%= stylesheet_link_tag "application", 'https://fonts.googleapis.com/css?family=Special+Elite', :media => "all" %>
  <%= stylesheet_link_tag "application", 'https://fonts.googleapis.com/css?family=Pacifico', :media => "all" %>
  <%= stylesheet_link_tag "application", "https://fonts.googleapis.com/css?family=Arizonia", :media => "all" %>

  <% if request.ssl? %>
    <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css' %>
    <%= javascript_include_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js' %>
  <% else %> 
    <%= stylesheet_link_tag 'http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css' %>
    <%= javascript_include_tag 'http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js' %>
  <% end %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => false %>
  
  <%= csrf_meta_tags %>
</head>

<body>

  <%= render 'layouts/header' %>
	<div class="container" style="width:80%; float: left;">
    <br/>

    
		<%= yield %>
    <p class="notice" id="notice"><%= notice %></p>
    <p class="alert" id="alert"><%= alert %></p> 

  </div>
  <div style="width:20%; float:left;">
    <div>
      <aside>
        <li><%= link_to ' ', new_print_path, class: "submit_btn", id: "new_print"%></li>
        <li><%= link_to " ", prints_path, class: "review_btn", id: "review" %></li>
        <li><%= link_to ' ', products_path, class: "shop_btn", id: "shop" %></li>

      <aside>
    </div>
  </div>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
</body>
</html>
