<!DOCTYPE html>
<html>
<head>
  <title>FunnelArt</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
  
  <%= stylesheet_link_tag "application", 'https://fonts.googleapis.com/css?family=Special+Elite', :media => "all" %>
  <%= stylesheet_link_tag "application", 'https://fonts.googleapis.com/css?family=Pacifico', :media => "all" %>
  <%= stylesheet_link_tag "application", "https://fonts.googleapis.com/css?family=Arizonia", :media => "all" %>





  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <% if request.ssl? %>
    <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css' %>
    <%= javascript_include_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js' %>
  <% else %> 
    <%= stylesheet_link_tag 'http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css' %>
    <%= javascript_include_tag 'http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js' %>
  <% end %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  
  <%= csrf_meta_tags %>
</head>

<body>
  <div id="wrap">
    <%= render 'layouts/header' %>
  	<div class="container" style="width:80%; float: left;">
      <br/>

      
  		<%= yield %>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p> 

    </div>
    <div style="width:20%; float:left;">
      <div>
        <aside>
          <li><%= link_to ' ', new_print_path, class: "submit_btn"%></li>
          <li><%= link_to " ", prints_path, class: "review_btn" %></li>
          <li><%= link_to ' ', products_path, class: "shop_btn" %></li>

        <aside>
      </div>
    </div>
    <div id="push"></div>
  </div>
  <div id="footer">
    <p>footer content </p>
  </div>

</body>
</html>
